*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  background-image: linear-gradient( to bottom,#3c9cd6, #8846a7 );
}
.image{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: -150px;
}
.image img{ 
  width: 30%; 
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.hr{
  width: 10%;
  margin-top: 20px;
}

@media (max-width: 600px){
  .image img{    
    width: 80%;    
}
.hr{
  width: 30%;
}
}
